<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Content Configuration Template.</string>
    <key>Summary</key>
	<string>Content Configuration Template.</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>ContentConfiguration</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Configuration Name:</string>
			<key>Description</key>
			<string>The name of the configuration</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>language</string>
			<key>Name</key>
			<string>Language</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
				<string>Objective-C</string>
			</array>
			<key>Default</key>
			<string>Swift</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>Path</key>
			<string>Swift</string>
		</dict>
		<key>Objective-C</key>
		<dict>
			<key>Path</key>
			<string>Objective-C</string>
		</dict>
	</dict>
</dict>
</plist>
